:root {
  --black: #10080d;
  --white: #fffcf9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notifications {
  background: none;
  border: none;
  display: flex;
  margin-left: 1.5rem;
  width: 3.3rem;
  height: 3.3rem;
  justify-content: center;
  align-items: center;
}

.notifications > i {
  font-size: 2rem;
  color: var(--white);
  opacity: 0.8;
}

#notificationsOn {
  display: flex;
}
#notificationsOff {
  display: none;
}

#downloadImg {
  display: none;
  background: none;
  border: none;
  margin-left: auto;
  margin-right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#downloadImg > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

main {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
}

#image {
  display: none;
  width: 100%;
}

canvas {
  max-width: 100%;
  max-height: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.cameraBtn {
  align-self: center;
  width: 60px;
  height: 60px;
  background: var(--white);
  border: 3px solid rgb(195, 195, 195);
  border-radius: 100%;
  opacity: 0.8;
  cursor: pointer;
}

.imgSettings {
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 3rem;
}

.settingBtn {
  background: none;
  border: 0.5px solid rgba(255, 255, 255, 0.698);
  border-radius: 100%;
  padding: 0.5rem;
  width: 58px;
  height: 58px;
  margin: 2rem 0;
}

.settingBtn > i {
  font-size: 2.5em;
  color: var(--white);
  opacity: 0.8;
}

/* Sliders */
.slider {
  width: 14rem;
}

#brightnessRange {
  display: none;
}
#contrastRange {
  display: none;
}
#saturationRange {
  display: none;
}
#sepiaRange {
  display: none;
}
#sharpenRange {
  display: none;
}

@media only screen and (min-width: 700px) {
  .bottom {
    margin-top: auto;
    height: 20vh;
  }

  main {
    justify-content: center;
  }

  #image {
    width: 650px;
    height: 520px;
  }
  canvas {
    max-width: 650px;
    max-height: 515px;
  }
}
