:root {
  --black: #10080d;
  --white: #fffcf9;
  --color1: #ff6978;
  --color2: #9fd7d1;
  --color3: #5c415d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

#downloadImg {
  display: none;
  background: none;
  border: none;
  margin-left: auto;
  margin-right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

#downloadImg > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

main {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
}

#image {
  display: none;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.cameraBtn {
  align-self: center;
  width: 60px;
  height: 60px;
  background: var(--white);
  border: 3px solid rgb(185, 185, 185);
  border-radius: 100%;
  opacity: 0.7;
  cursor: pointer;
}
