:root {
  --dark: #5c415d;
  --white: #fffcf9;
  --color1: #ff6978;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--dark);
}

video {
  height: 100px;
  width: 100px;
}
