:root {
 --black: #10080D;
  --white: #fffcf9;
  --color1: #ff6978;
  --color2: #9fd7d1;
  --color3: #5c415d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--black);
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh;
}

video {
  width: 100vw;
  height: 70vh;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.cameraBtn {
  align-self: center;
  width: 60px;
  height: 60px;
  background: var(--white);
  border: 3px solid rgb(195, 195, 195);
  border-radius: 100%;
}
